<template name="Header">
    <div class="top-bar">
        <div class="logo"></div>
        <div class="version">Software version 1.0.0</div>
        <div id="userHead">
            <div class="loginInfo"> 
                <div class="status">{{name}}
                    <a href="logout"><img src="images//logout.png" title="Exit"></a>
                </div>
                <p></p><div>Last login: {{date}}</div>
            </div>
            <div class="logout">
            </div>
        </div>
    </div>
</template>