<template name="InsertCause">
    <div id="container">
        {{> Nav}}
        <div class="content">
            <div class="row-fluid">
                <div class="offset4 span2">
                    <form id="insert-cause" class="form-horizontal" method="post" style="width: 260px">
                        <div class="control-group center">
                            <h3>Εισαγωγή Νέας Αιτίας</h3>
                        </div>
                        <div class="form-group control-group center">
                            <select name="department" id="department" style="width: 275px" required>
                                <option value="">Επέλεξε Τμήμα</option>
                                {{#each departments}}
                                <option value="{{id}}">{{description}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group control-group center">
                            <select name="type" id="type" style="width: 275px" required>
                                <option value="">Επέλεξε Τύπο Αιτίας</option>
                                {{#each types}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="description" id="description" placeholder="Όνομα Νέας Αιτίας" required>
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="code" id="code" placeholder="Κωδικός Όνομα Νέας Αιτίας" required>
                        </div>
                        <div class="form-group control-group center">
                            <input type="submit" value="Εισαγωγή" class="btn btn-primary btn-block btn-large" style="width: 275px">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>