<template name="InsertDepartment">
    <div id="container">
        {{> Nav}}
        <div class="content">
            <div class="row-fluid">
                <div class="offset4 span2">
                    <form id="insert-department" class="form-horizontal" method="post" style="width: 400px">
                        <div class="control-group center">
                            <h3>Εισαγωγή Νέου Τμήματος</h3>
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="description" id="description" placeholder="Όνομα Τμήματος" required>
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="code" id="code" placeholder="Κωδικός Τμημάτος">
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="running-duration" id="running-duration" placeholder="Διάρκεια σε λεπτά που η μηχανή θεωρείται σε λειτουργία" required>
                        </div>
                        <div class="form-group control-group center">
                            <input type="text" name="stopping-duration" id="stopping-duration" placeholder="Διάρκεια σε λεπτά που η μηχανή θεωρείται σταματημένη" required>
                        </div>
                        <div class="form-group control-group center">
                            <input type="submit" value="Εισαγωγή" class="btn btn-primary btn-block btn-large">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>